<!--商品登録編集ページ-->
<div class="container my-5">
  <h4 class="row mb-5">
    <span class="heading-title">商品編集</span>
  </h4>
   <!--エラー表示-->
  <%= render "layouts/errors", obj: @item %>
  <div class="container">
    <!--編集フォーム-->
    <%= form_with model: [:admin, @item] do |f| %>
      <!--商品画像-->
      <div class="row d-flex justify-content-center">
          <%= f.label :image, "商品画像", class: "col-3 mb-4" %>
          <%= f.file_field :image, accept: "image/*", class: "col-5 mb-4 pl-0" %>
      </div>
      <!--商品名入力-->
      <div class="row d-flex justify-content-center">
          <%= f.label :name, "商品名　", class: "col-3 mb-4" %>
          <%= f.text_field :name, placeholder: "商品名", size: 30, class: "form-control col-5 mb-4" %>
      </div>
      <!--商品説明入力-->
      <div class="row d-flex justify-content-center">
          <%= f.label :introduction, "商品説明", class: "col-3 mb-4" %>
          <%= f.text_area :introduction, rows: 5, placeholder: "ここに説明文を記述します", size: "33x10", class: "form-control col-5 mb-4" %>
      </div>
      <!--商品ジャンル(プルダウン)-->
      <div class="row d-flex justify-content-center">
          <%= f.label :genre, "ジャンル", class: "col-3 mb-4 " %>
        <!--ジャンルで登録した内容が反映される-->
        <div class="col-5 mb-4 pl-0">
          <% current_genre = Genre.find_by(id: @item.genre_id) %>
          <% genre_options = Genre.all.map{ |genre| [genre.name, genre.id] } %>
          <%= f.select :genre_id, options_for_select(genre_options, selected: current_genre&.id) %>
        </div>
      </div>
      <!--税抜価格入力-->
      <div class="row d-flex justify-content-center">
        <%= f.label :price, "税抜価格", class: "col-3 mb-4" %>
        <div class="col-5 d-flex mb-4 pl-0">
          <%= f.text_field :price, placeholder: "1000", size: 30, class: "form-control" %>
          <span class="ml-2"> 円</span>
        </div>
      </div>
      <!--販売ステータス(ラジオボタン)-->
      <div class="row d-flex justify-content-center">
        <%= f.label :is_active, "販売ステータス", class: "col-3 " %>
        <div class="col-5 mb-4 pl-0">
          <%= f.radio_button :is_active, true %> 販売中
          <%= f.radio_button :is_active, false %> 販売停止中
        </div>
      </div>
      <!--変更を保存ボタン-->
      <div class="row d-flex justify-content-center">
        <%= f.submit "変更を保存", class: "btn btn-success font-weight-bold px-5 py-2 " %>
      </div>
    <% end %>
  </div>
</div>