<div class="container my-5">
  <div class="row mb-3">
    <h4 class="col-6">
      <span class="heading-title">商品一覧</span>
    </h4>
    <h1 class="col-6 text-right">
      <%= link_to new_admin_item_path, class: "text-right" do %>
        <i class="fa-sharp fa-solid fa-circle-plus"></i>
      <% end %>
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table table-hover table-inverse table-borderless border-bottom">
        <thead class="table bg-light">
          <tr>
            <th class="col-1">商品ID</th>
            <th class="col-4">商品名</th>
            <th class="col-2">税抜価格</th>
            <th class="col-3">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to admin_item_path(item) do  %>
                  <%= item.name %>
                <% end %>
              </td>
              <td><%= number_with_delimiter(item.price) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                  <span class="text-success font-weight-bold">販売中</span>
                <% else %>
                  <span class="text-secondary font-weight-bold"> 販売停止中</span>
                <% end %>
              </td>
            </tr>

          <% end %>
          
        </tbody>
  
      </table>
    </div>
  </div>

  <!--ページネーション-->
  
    
   <%= paginate @items %>


</div>  
