<!--管理者用商品新規登録ページ-->
<!--エラー表示-->
<%= render "layouts/errors", obj: @item %>
<div class="container mt-5">
  <h4 class="row mb-5">
    <span class="heading-title">商品新規登録</span>
  </h4>
  
  <!--商品登録フォーム-->
  <%= form_with model: [:admin, @item] do |f| %>
    <!--商品画像挿入-->
    <div class="row d-flex justify-content-center">
        <%= f.label :image, "商品画像", class: "col-3 mb-4" %>
        <%= f.file_field :image, accept: "image/*", class: "col-5 mb-4" %>
    </div>
    <!--商品名入力-->
    <div class="row d-flex justify-content-center">
        <%= f.label :name, "商品名　", class: "col-3 mb-4" %>
        <%= f.text_field :name, placeholder: "商品名", size: 30, class: "form-control col-5 mb-4" %>
    </div>
    <!--商品説明入力-->
    <div class="row d-flex justify-content-center">
        <%= f.label :introduction, "商品説明", class: "col-3 mb-4" %>
        <%= f.text_area :introduction, rows: 5, placeholder: "ここに説明文を記述します", size: "33x10", class: "form-control col-5 mb-4" %>
    </div>
    <!--ジャンル選択(プルダウン表示)-->
    <div class="row d-flex justify-content-center">
        <%= f.label :genre, "ジャンル", class: "col-3 mb-4" %>
      <div class="col-5 mb-4">
        <%= f.select :genre_id,options_for_select(Genre.all.map{ |genre| [genre.name, genre.id] }), include_blank: "--選択してください--" %>
      </div>
    </div>
    <!--税抜価格入力-->
    <div class="row d-flex justify-content-center">
      <%= f.label :price, "税抜価格", class: "col-3 mb-4" %>
      <div class="col-5 mb-4">
        <div class="d-flex">
          <%= f.text_field :price, placeholder: "1000", size: 30, class: "form-control" %>
          <span class="ml-2"> 円</span>
        </div>
      </div>
    </div>
    <!--販売ステータス選択(ラジオボタン表示)-->
    <div class="row d-flex justify-content-center">
      <%= f.label :is_active, "販売ステータス", class: "col-3 " %>
      <div class="col-5 mb-4">
        <%= f.radio_button :is_active, true %> 販売中
        <%= f.radio_button :is_active, false %> 販売停止中
      </div>
      </div>
    </div>
    <!--新規登録ボタン-->
    <div class="row d-flex justify-content-center">
        <%= f.submit "新規登録", class: "btn btn-success font-weight-bold px-5 mb-5" %>
    </div>
  <% end %>
</div>