<div class='container'>
  <div class='row d-flex justify-content-center'>
    <div class='col-5 pt-5'>
      <span class='fs-6 bg-secondary text-black'>管理者ログイン</span>
    </div>
  </div>
</div>
<div class='container p-5'>
  <div class='row w-100 d-flex justify-content-center'>
    <div class='col-2'>
      <p>メールアドレス</p>
      <p>パスワード</p>
    </div>
    <div class'ml-1 col-5'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
        <div class="actions form-group">
          <%= f.submit "ログイン", class: 'btn btn-primary d-block' %>
        </div>
      <% end %>
      <%= render "admin/shared/links" %><!--admins単数形に変更済-->
    </div>
  </div>
</div>



