<div class="container ">
  <div class="row m-5">
    <div class="col-sx-12 col-md-12 col-lg-3">
      <!-- ジャンル検索サイドバー / パーシャル表示 -->
      <%= render "public/shared/sidebar", genres: @genres %>
    </div>
    <div class="col-sx-12 col-lg-9">
      <!-- 画像背景 -->
      <div class="bg-img d-flex justify-content-center align-items-center mb-5">
        <% if !customer_signed_in? %>
          <p class="bg-white p-3 rounded" style="opacity: 90%;">
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        <% end %>
      </div>
      <!-- オススメ商品表示 -->
      <br>
  		<h4 class="row mb-5">
  		  <i class="fas fa-crown"></i> オススメ商品 <i class="fas fa-crown"></i>
  		</h4>
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-3">
              <%= link_to item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
                <%= image_tag item.get_image(150,100) %><br>
              <% end %>
              <%= link_to item_path(item.id) do %>
                <p class="item_name"><%= item.name %></p>
              <% end %>
              <p>¥<%= item.add_tax_price.to_s(:delimited) %></p> <!-- 税込計算式/.floor => 浮動小数点数の切り捨てを行うためFloatクラスのfloorメソッドを使用 -->
            </div>
          <% end %>
        </div>
      </div>
  	</div>
  </div>
  <div class="row">
  	  <div class="col-lg-10"></div>
  	  <div class="col-lg-2">
  	    <%= link_to "もっと見る＞", items_path %>
  	  </div>
    </div>
</div>
