<div class='container my-5'>
  <div class='row'>
    <div class='col-10'>
      <span class='fs-8 bg-secondary text-black'>会員一覧</span>
    </div>
  </div>
  <div class='row d-flex justify-content-center'>
    <table class='table'>
      <thead class='table-secondary'>
        <tr>
          <th>会員ID</th>
          <th colspan='2'>氏名</th>
          <th colspan='2'>メールアドレス</th>
          <th colspan='2'>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td colspan='2'>
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td colspan='2'><%= customer.email %></td>
            <td colspan='2'>
              <% if customer.is_active == true %>
                <strong class='text-success'>有効</strong>
              <% else %>
                <strong class='text-secondary'>退会</strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
   <%= paginate @customers %>
</div>
