<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>
      <!-- 購入詳細情報 -->
      <table>
       <tr>
        <th>購入者</th>
        <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>

      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.post_code.insert(3, '-') %> <%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>

        <!-- 注文ステータス変更　プルダウン　更新を押すとアップデート -->
        <th>注文ステータス</th>
        <td>
          <%= form_for @order, url: admin_order_path do |f| %><!--oreder controllerのupdateの飛ぶ-->
          　<%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} ,style: "margin-top:10px;#" %><!--ステータス選択 -->
          <%= f.submit "更新" ,class: "btn btn-primary btn-sm" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div class=" col-xs-9">
      <table class="table ">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
        <%  @order_details.each do |order_detail| %><!--注文した商品の履歴一覧をeach分で表示　-->
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.get_subtotal.to_s(:delimited) %> </td>
        <!-- 製作ステータス変更　更新を押すと更新-->
          <%= form_for order_detail,url: admin_order_detail_path(order_detail) do |f| %>
          <td><%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %></td><!--ステータス選択 -->
          <td><%= f.submit "更新" ,class:"btn btn-primary btn-xs" %></td>
          <% end %>
        </tr>
          <% end %>
      </table>
    </div>


    <div>
     <h4>商品合計     <%= @order.get_items_total_price.to_s(:delimited) %>円</h4>
     <h4>送料　　　    <%= @order.shipping_cost.to_s(:delimited) %>円</h4>
     <h4>請求金額合計　<%= @order.total_payment.to_s(:delimited) %>円</h4>
    </div>
  </div>
</div>
