<!--管理者用ジャンル名編集ページ-->
  <!--エラー表示-->
  <%= render "layouts/errors", obj: @genre %>
<div class="container my-5 ml-5">
  <h4 class="row mb-5">
    <span class="heading-title">ジャンル編集</span>
  </h4>
  <!--ジャンル名ラベル・フォーム・ボタン-->
  <div class ="row m-4">
    <%= form_with model: [:admin, @genre], class: 'form-group' do |f| %>
      <div class="col-12">
        <strong>
          <%= f.label :name, "ジャンル名", class: 'form-label mr-5' %>
        </strong>
        <%= f.text_field :name %>
        <%= f.submit "変更を保存", class: 'btn btn-success font-weight-bold px-4 py-2 ml-5' %>
      </div>
    <% end %>
  </div>
</div>