<!--管理者用ジャンル一覧・追加ページ-->
  <!--エラー表示-->
  <%= render "layouts/errors", obj: @genre %>
<div class="container my-5 ml-5">
  <h4 class="row mb-5">
    <span class="heading-title">ジャンル一覧・追加</span>
  </h4>
  <!--ジャンル投稿-->
  <div class ="row m-4 ">
    <%= form_with model: [:admin, @genre], class: 'form-group' do |f| %>
      <div class="col-12">
        <strong>
          <%= f.label :name, "ジャンル名", class: 'form-label mr-5' %>
        </strong>
        <%= f.text_field :name, placeholder: 'ジャンル名' %>
        <%= f.submit "新規登録", class: 'btn btn-success font-weight-bold px-5 py-2 ml-5' %>
      </div>
    <% end %>
  </div>
  <!--ジャンル一覧テーブル-->
  <div class="row">
    <div class="col-5">
      <table class="table border-bottom ">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">ジャンル</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <!--ジャンル名-->
            <td><%= genre.name %></td>
            <!--編集するボタン-->
            <td class="text-right">
              <%= link_to "編集する", edit_admin_genre_path(genre), class: 'btn btn-success px-4 py-2' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>