<div class='container my-5'>

  <h4 class='row mb-5'>
    <span class='heading-title'>注文情報入力</span>
  </h4>

  <div class="row">
    <div class="col">
      <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>
        <h5 class="font-weight-bold">支払い方法</h5>
        <p>
          <%= f.radio_button :payment_method,Order.payment_methods.key(0),  checked: "checked" %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          <br>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
        </p>
        <h5 class="font-weight-bold">お届け先</h5>

        <%= f.radio_button :address_option, 0, checked: "checked" %>
        <%= f.label :address_option, "ご自身の住所",{value: 0} %>
        <br>
        〒<%= current_customer.post_code.insert(3, '-') %>
          <%= current_customer.address %><br>
          <%= current_customer.last_name %>
          <%= current_customer.first_name %>
          <br>
          <%= f.radio_button :address_option, 1 %>
          <%= f.label :address_option, "登録済住所から選択" ,{value: 1}%>
          <br>
          <%= f.collection_select :address_id, @addresses, :id ,:address_display, { disabled: "", prompt: "登録してある配送先住所から選択" } %>
          <br>
          <%= f.radio_button :address_option, 2 %>
          <%= f.label :address_option, "新しいお届け先" ,{value: 2}%>
        <table>
          <tr>
            <td class='col-3'><%= f.label :post_code, "郵便番号(ハイフンなし)" %></td>
            <td class='col-9'><%= f.text_field :post_code, :placeholder => "0000000"%></td>
          </tr>
          <tr>
            <td class='col-3'><%= f.label :address, "住所" %></td>
            <td class='col-9'><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", class: "w-100" %></td>
          </tr>
          <tr>
            <td class='col-3'><%= f.label :name, "宛名" %></td>
            <td class='col-9'><%= f.text_field :name, :placeholder => "令和道子" %></td>
          </tr>
        </table>
        <div class="row justify-content-center py-5">
          <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
