<!--Customer用商品詳細ページ-->
<div class="container ">
  <div class="row m-5">
    <div class="col-sx-12 col-md-12 col-lg-3">
      <!-- ジャンル検索サイドバー / パーシャル表示 -->
      <%= render "public/shared/sidebar", genres: @genres %>
    </div>
    <div class="col-sx-12 col-lg-5 mt-5 ">
      <div class="d-flex justify-content-center">
        <%= image_tag @item.get_image(300,200) %>
      </div>
    </div>
    <div class="col-sx-12 col-md-12 col-lg-4 mt-5 ">
      <!--商品名-->
      <h4 class="row my-3">
      <strong>
        <%= @item.name %>
      </strong>
      </h4>
      <!--紹介文-->
      <h5 class="row mb-3">
        <%= @item.introduction %>
      </h5>
      <!--税込・税抜価格表示-->
      <div class="row">
        <strong><h4><%= number_to_currency(@item.add_tax_price, format: "%u%n", unit: "￥") %></h4></strong><p>（税込）</p>
      </div>
      <!--サインインしてる場合に表示-->
      <% if customer_signed_in? %>
      <!--カートに入れるボタンの作成-->
  　   <!--商品ステータスがtrue(販売中)の場合-->
        <% if @item.is_active == true %>
          <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
            <div class="row d-flex">
              <div><%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], include_blank: "個数選択" %></div>
              <div><%= f.hidden_field :item_id, :value =>@item.id %></div>
              <div><%= f.submit "カートに入れる", class: "btn btn-success mt-3" %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>