<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary"  style="background-color: #ffffe0;">
    <div class="container-fluid">
      <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">
              <%= link_to root_path do %>
              <%= image_tag "logo.png", size:'200x80'%>
              <% end %>
            </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
  
            <!--カスタマーがログインしている時 -->
            <li class="nav-item">
              ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！
            </li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "マイページ", my_page_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "商品一覧", items_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "カート", cart_items_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "About", about_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "ログアウト", destroy_customer_session_path, class: "link" , method: :delete %></li>
  
          <% elsif admin_signed_in? %>
  
            <!-- 管理者がログインしている時 -->
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "商品一覧", admin_items_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "会員一覧", admin_customers_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "注文履歴一覧", admin_root_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "ジャンル一覧", admin_genres_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "About", about_path, class: "link"  %></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "ログアウト", destroy_admin_session_path, class: "link" , method: :delete %></li>
  
          <% else %>
  
            <!-- ログインしていない時 -->
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "商品一覧", items_path, class: "link" %></button></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "新規登録", new_customer_registration_path, class: "link"  %></button></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "About", about_path, class: "link"  %></button></li>
            <li class="nav-item"><button class="btn btn-outline-warning" type="button"><%= link_to "ログイン", new_customer_session_path, class: "link"  %></button></li>
          <% end %>
        </ul>
          <form class="d-flex" role="search">
            <input type="search" class="form-control me-2" placeholder="検索..." aria-label="検索...">
            <button type="submit" class="btn btn-outline-warning flex-shrink-0">検索</button>
          </form>
      </div>
    </div>
  </nav>
</header>

